[submodule "apriltag_viz"]
    path = apriltag_viz
    url = https://github.com/saltluu/apriltag_viz.git
[submodule "apriltag_detection"]
    path = apriltag_detection
    url = https://github.com/saltluu/apriltag_detection.git
[submodule "apriltag_msgs"]
    path = apriltag_msgs
    url = https://github.com/saltluu/apriltag_msgs.git
[submodule "apriltag_ros"]
    path = apriltag_ros
    url = https://github.com/saltluu/apriltag_ros.git
[submodule "usb_cam"]
    path = usb_cam
    url = https://github.com/saltluu/usb_cam.git
